---
const {offre} = Astro.props;
---

 <ul>
    <li>{offre.nomMaison}</li>
    <li>{offre.adresse}</li>
    <li>{offre.prix} €</li>
    <li>{offre.surface} m²</li>
    <li>{offre.nbChambres} chambres</li>
    <li>{offre.nbSdb} salle(s) de bain</li>
    <li><img src={offre.imgUrl} alt={offre.nomMaison} /></li>
    <li>{offre.favori ? "Favori" : "Non favori"}</li>
</ul>