---
import Layout from '../../layouts/Layout.astro';
import PbImage from '../../components/PbImage.astro';
import {getOffre} from '../../script/backend.mjs'

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Layout titre={offre.nomMaison}>
    <h2>{offre.nomMaison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        <li class="flex-1 flex items-center justify-center">
            <PbImage record={offre} recordImage={offre.image[0]} />
        </li>
    </ul>
</Layout>